@import "tailwindcss";

@theme {
  --color-primary: #8b76ef;
  --color-accents: #dcd6fb;
  --color-textColor: #15264a;
  --color-bgColor: #ffffff;
  --color-bgColor2: #f6f6f6;
  --color-textHead: #231186;
  --color-textColor2: #0a3c7f;
  --color-accents2: #bbc8f2;
  --color-green: #22C55E;
  --color-lemon: #edeec4;
  --color-lightRed: #ef4444;
  --color-darkRed: #b91c1c;
  --color-darkBlue: #1d4ed8;
  --color-lightBlue: #3b82f6;
  --color-gray: #374151;
}
