@import "tailwindcss";

@theme {
  --color-primary: #8b76ef;
  --color-accents: #dcd6fb;
  --color-textColor: #15264a;
  --color-bgColor: #ffffff;
  --color-bgColor2: #f6f6f6;
  --color-textHead: #231186;
  --color-textColor2: #0A3C7F;
  --color-accents2: #BBC8F2;
  --color-green:#B8D1BC;
  --color-lemon:#EDEEC4;
}
